body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Orbitron', sans-serif;

}

.navigation{
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;

}

.homeMain {
  grid-column-start: 1;
  grid-column-end: 13;
  color: black;
  font-size: 15px;
  text-align: left;
  grid-row-start: 4; 

}

.homeMain h1 {
  padding-bottom: 100px;
  padding-top: 100px;

  text-align: center;
  font-size: 45px;
  color: rgb(48, 22, 22);

}

.card-title{
  display: inline-block;
  padding-left: 45px;
  grid-column-start: 1;
  grid-column-end: 13;
  color: black;
}

.up{
  padding-left: 5px;
}


.up:hover {
  color: tomato;
  transform: scale(1.5);
}

.down{
  padding-left: 5px;
}


.down:hover {
  color: tomato;
  transform: scale(1.5);
}

.trash:hover{
  color: tomato;
  transform: scale(1.5);
}


.user{
  
  color: red;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 5;

}

.user img {
  color: red;
 height: 300px;
 width: 300px;

}

.userTitle{
  float: center;
  color: black;
  grid-column-start: 5;
}

.userName{
  color: black;
  text-align: center;

}

.userUserName{
  color: black;
}

.userCard {

}