.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(50px, auto);
  font-size: 35px;
  height: 100%;
  background-color: hsl(349, 81%, 42%);
  color: white;
  
}

.login{
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 5;
  grid-row-end: 5;
  font-size: 25px;
  display:inline-block
}

.login h5 {
  font-size: 15px;
  display:inline-block;
  padding-right: 20px;
}

.login img {
  height: 30px;
  width: 30px;
  display:inline-block;
  border-radius: 100px;

}

@media(max-width: 700px) {
.login{
  grid-column-start: 7;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 3;
  font-size: 15px;

}
.login h5 {
  font-size: 10px;
  padding-right: 10px;
}
}

